PORT=8000
MONGO_URI=mongodb+srv://chaudharyswet:swet0000@cluster0.jym0uw2.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=fcf730b6d95236ecd3c9fc2d92d7b6b2bb061514961aec041d6c7a7192f592e4
ACCESS_TOKEN_EXPIRY=1d 
REFRESH_TOKEN_SECRET=1234
REFRESH_TOKEN_EXPIRY=10d
